.container{
  max-width: 1080px;
  margin: 20px auto;
}
body{
  background-image: url("https://images.pexels.com/photos/5212582/pexels-photo-5212582.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
}